* {
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(100vw / 7.5);
  /* 只允许进行滚动和持续缩放，双击不能触发，这个设置可以完美解决 300ms 延时 */
  // touch-action: manipulation;
}

body {
  background: #f8f8f8;
  // prettier-ignore
  font-size: 16PX;
}
.swiper-slide {
  img,
  video {
    width: 100%;
    height: 500px;
  }
}
